doctype html
html(lang="en")
		head
			title="404 Not Found"
			link(rel="stylesheet", href="/public/css/normalize.css")
			link(rel="stylesheet", href="/public/css/skeleton.css")
			link(rel="stylesheet", href="/public/css/404.css")


		body
			h1 404
			h2 scram
