doctype html
html(lang="en")
		head
			title="Temperature Data"
			link(rel="stylesheet", href="/public/css/normalize.css")
			link(rel="stylesheet", href="/public/css/skeleton.css")
			link(rel="stylesheet", href="/public/css/style.css")


		body
			h1 Temperature Data of NY, SF, and ATX from 2011-2012


			script(src="https://d3js.org/d3.v4.min.js")
			script(src="/public/js/test.js")
